<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="partials/header :: header('Create a Profile')"></head>-->
<!--<body>-->

<!--<div th:replace="partials/navbar :: navbar"></div>-->

<!--<main class="container">-->

    <!--<form th:action="@{/users/create}" th:method="post" th:object="${user}">-->
        <!--Username:-->
        <!--<input th:field="*{username}" />-->
        <!--<br />-->
        <!--Email:-->
        <!--<input th:field="*{email}" />-->
        <!--<br />-->
        <!--<input th:field="*{password}" />-->
        <!--<br />-->
        <!--<input type="submit" />-->
    <!--</form>-->

<!--</main>-->

<!--<div th:replace="partials/footer :: footer"></div>-->

<!--</body>-->
<!--</html>-->